@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";
@import "tailwindcss";



@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-8px);
  }

  50% {
    transform: translateY(-16px);
  }

  75% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0px);
  }
}

.floating {
  animation: floating 4s ease-in-out infinite;
}

